* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #f2f2f2;
}

.contenedor {
  width: 90%;
  max-width: 400px;
}

.card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.imagen {
  width: 100%;
  height: 250px;
  object-fit: contain;
  background-color: #eaeaea;
}

.contenido {
  padding: 15px;
}

.nombre {
  margin-bottom: 10px;
}

.tipo {
  margin-bottom: 10px;
}

.button {
  border: none;
  padding: 10px;
  background-color: aqua;
  cursor: pointer;
  border-radius: 10px;
}
